@charset "UTF-8";

body {
  color: black;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
}

p {
  line-height: 160%;
  font-size: 86%;
  color: black;
}

a {
  color: white;
  text-decoration: none;
}



div.contents_area {
  width: 100%;
}

header {
  width: 100%;
  background-color: #dc0d00;
}
header div#header_inner {
  width: 960px;
  margin: 0 auto;
}

section#slide {
  background-image: url("../images/5.jpg");
  background-repeat: repeat-x;
  background-position: center;
  width: 100%;
  height: 602px;
  border-bottom: 2px solid #dc0d00;
}

section#slide h2 {
  line-height: 200%;
    font-size: 26px;
    font-weight: bold;
    color: #091f39;
    text-shadow: 1px 1px 0 #fff;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}


section#cont_2 div.title_area {
  width: 100%;
  background-image: url("../images/dot_bg.png");
}
section#cont_2 div.title_area div.inner_title {
  width: 960px;
  margin: 0 auto;
}
section#cont_2 div.title_area div.inner_title h2 {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 25px;
}
section#cont_2 div.inner_contents {
  width: 960px;
  margin: 0 auto;
  padding-top: 40px;
}

section#cont_3 h2 {
  text-align: center;
  padding-top: 65px;
}
section#cont_3 div.title_area {
  width: 100%;
  background-image: url("../images/dot_bg.png");
  border-top: 2px solid #dc0d00;
  border-bottom: 8px solid #e40d00;
}
section#cont_3 div.title_area div.inner_title {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
section#cont_3 div.inner_contents {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding-top: 130px;
}
section#cont_3 div.inner_contents div.cont_3_box {
  width: 290px;
  float: left;
  position: relative;
}

section#cont_4 div.title_area {
  width: 100%;
  background-color: #f1f1f1;
  padding: 60px 0;
}
section#cont_4 div.title_area div.inner_title {
  width: 960px;
  margin: 0 auto;
}

footer {
  width: 100%;
  background-color: #dc0d00;
}

div.inner_footer {
  width: 960px;
  margin: 0 auto;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
}


.top {
  font-family: "游ゴシック";
  font-size: 40px;
}

.contentsss {
  font-family: "游ゴシック";
  font-size: 50px;
}

.inner_title h2{
    font-size: 28px;
    font-weight: bold;
    color: #091f39;
    text-shadow: 1px 1px 0 #fff;

}

.show {
  float: right;
}

.time {
  position: absolute;
  left: 30%;
}

.trade2 {
  position: absolute;
  left: 65%;
  color: red;
}

.place {
  position: absolute;
  left: 30%;
}

.inner_pic{
  margin-right: 100px;
}

.inner_picture{
  text-align: center;
}

.fomat{
  text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #091f39;
    padding-top: 50px;
    text-align: center;
}

.amount{
  text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #091f39;
    padding-top: 50px;
    text-align: center;
}
